.page-main{
    width: 95vw;
    height: 75vh;
    padding: 50px 0 0 0;
    background-color: #aFF;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    gap: 25px 50px;
    padding: 25px;
}

.session-logout{
    background-color: goldenrod;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 6;
    grid-column-end: 6;

    border-radius: 25px;
}

.session-list-box{
    background-color: rgb(157, 206, 255);
    grid-row-start: 2;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 6;

    border-radius: 25px;
}

.session-toggle-box{
    background-color: dodgerblue;
    grid-row-start: 2;
    grid-row-end: 11;
    grid-column-start: 6;
    grid-column-end: 6;

    border-radius: 25px;
}