.container {
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    
  }
  .form-box {
    margin-left: 40px;
    width: 400px;
    padding: 20px;

    /* background-color: rgb(77, 137, 226, 0.2); */
    background-color: dodgerblue;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .form-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    /* color: rgb(77, 137, 226); */
    color: white;
    
  }
  .input-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
  }
  .input-group label {
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: bold;
      text-align: left;
  }
  .input-group input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
  }
  .btn-group {
    display: flex;
  }
  .btn-group button {
    color: white;
    background: rgb(225, 180, 102);
  }
  .btn-group button:hover {
    background: #ffd66e;
  }
  .info-box {
      width: 400px;
      padding: 20px;
      color: white;
      /* background-color: rgb(77, 137, 226); */
      background-color: rgb(72, 163, 255);
      border-radius: 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      text-align: left;
      margin-left: 80px;
  }

  .login-text {
    color: blue
}
.login-text:hover {
    color: lightblue
}